@import url("https://fonts.googleapis.com/css?family=Heebo:300,400&display=swap");
body {
  margin: 0;
  padding: 0;
  /* font-family: "Heebo", sans-serif; */
}

.app {
  height: 100vh;
}

.display {
  height: 25%;
  position: relative;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.display-value {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 71px;
  color: #36454f;
}

.button-panel {
  background: #5c6581;
  border-top: 1px solid #5c6581;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
}

.button-action {
  display: inline-flex;
  width: 25%;
}

.wide {
  width: 50%;
}

.button-action button {
  flex: 1;
  margin: 0px 1px 1px 0;
  border: 0;
  background: #474e64;
  color: #fff;
  font-size: 32px;
  outline-color: #7892ee;
}

.action button {
  background: #7892ee;
  outline-color: #474e64;
}

.action2 button {
  background: #3c4559;
  color: #747d91;
}

.display-text {
  width: 90vw;
  font-size: 42px;
  /* height: 40%; */
  border: none;
  outline: none;
  color: #36454f;
  padding: 0 20px;
  flex: 1;
  
}
.display-text.error {
  border-bottom: 3px solid #ff5179;
}

.previous-exp {
  flex: 1;
  position: relative;
}

.previous-exp span {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  font-size: 20px;
  color: #a5a4a4;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .display-value {
    font-size: 40px;
  }
}
